{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Calculate Patient wound size</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'website/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'website/css/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'website/css/owl.theme.default.min.css' %}" rel="stylesheet">

    <link href="{% static 'website/css/templatemo-medic-care.css' %}" rel="stylesheet">
    <!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
</head>

<body id="top">

    <main>

        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">
                <a class="navbar-brand mx-auto d-lg-none" href="{% url 'index' %}">
                        Medic Care
                        <strong class="d-block">Health Specialist</strong>
                    </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'AdminPage' %}">
                                <span> Admin Page</span>
                            </a>

                        </li>
                        <a class="navbar-brand d-none d-lg-block" href="">
                                Medic Care
                                <strong class="d-block">Patient wound size monitoring System</strong>
                            </a>
                        <li class="nav-item">
                            <span> Hello, {{request.user}}</span>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <section class="section-padding" id="about">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %} {{ add_frame.as_p }}
                            <button type="submit" class="btn btn-outline-success">ADD</button>
                        </form>
                    </div>
                    <div class="col">
                        {% if add_obj %}
                        <h3>Succesfully uploaded !! </h3>
                        <p class="text-primary">Frame ID is : {{add_obj.frame_id}}</p>
                        <p class="text-info">Frame name : {{add_obj.frame_name}}</p>
                        <p class="text-info">Frame size : {{add_obj.frame_size}}</p>
                        <p class="text-info">Frame pixel : {{add_obj.frame_pixel}}</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 me-auto col-12">
                    <h5 class="mb-lg-4 mb-3">Opening Hours</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            Sunday : Closed
                        </li>

                        <li class="list-group-item d-flex">
                            Monday, Tuesday - Firday
                            <span>8:00 AM - 3:30 PM</span>
                        </li>

                        <li class="list-group-item d-flex">
                            Saturday
                            <span>10:30 AM - 5:30 PM</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                    <h5 class="mb-lg-4 mb-3">Our Clinic</h5>

                    <p><a href="mailto:hello@company.co">hello@company.co</a>
                        <p>

                            <p>123 Digital Art Street, San Diego, CA 92123</p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-2">Socials</h5>

                    <ul class="social-icon">
                        <li>
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li>
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li>
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li>
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>
                    </ul>

                    <div>
                        <p class="copyright-text">Copyright © Medic Care 2021
                            <br><br>Design: <a href="https://templatemo.com" target="_parent">TemplateMo</a></p>
                        <p class="copyright-text">Distributed By: <a href="https://themewagon.com" target="_parent">Themewagon</a></p>
                    </div>
                </div>



            </div>
            </section>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/scrollspy.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
    <!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Calculate Patient wound size</title>


    <style>
        h3 {
            color: green;
        }
        
        h5 {
            color: blue;
        }
    </style>
</head>

<body>
    <div class="container p-3 my-3 bg-primary text-white">
        <h1>ADD DISEASE</h1>
        <p>Patient wound size monitoring System using image processing technique</p>
        <a href="{% url 'index' %}"><button type="button" class="btn btn-success">CALCULATE PIXEL</button></a>
        <a href="{% url 'manage_disease' %}"><button type="button" class="btn btn-secondary">Manage disease</button></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} {{ add_disease.as_p }}
                    <button type="submit" class="btn btn-outline-success">ADD</button>
                </form>
            </div>
            <div class="col">
                {% if add_obj %}
                <h3>Succesfully uploaded !! </h3>
                <p class="text-primary">Disease ID is : {{add_obj.Disease_id}}</p>
                <p class="text-info">Disease name : {{add_obj.Disease_name}}</p>

                {% endif %}
            </div>
        </div>
    </div>
    </form>


</body>

</html> -->