<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Calculate Patient wound size</title>

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
        </style>
    </head>
    <body>
        <div class="container p-3 my-3 bg-primary text-white">
            <h1> Manage Disease</h1>
            <p>Patient wound size monitoring System using image processing technique</p>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-success">CALCULATE PIXEL</button></a>
            <a href="{% url 'manage_nurse' %}"><button type="button" class="btn btn-secondary">Manage nurse</button></a>
            <a href="{% url 'manage_patient' %}"><button type="button" class="btn btn-secondary">Manage patient</button></a>
            <a href="{% url 'manage_disease' %}"><button type="button" class="btn btn-secondary">Manage disease</button></a>
        </div>
        <div class="container">
            <table>
                <tr> 
                    <th> Disease ID </th>
                    <th> Disease NAME </th>
                    <th> Manage </th>
                </tr>
                
                {% for result in results %}
                <tr>
                    <td> {{result.Disease_id}} </td>
                    <td> {{result.Disease_name}} </td>
                    <td> 
                        <a href="{% url 'update_disease' result.Disease_id %}"> <button type="button" class="btn btn-warning"> Edit </button> </a>
                        <a href="{% url 'delete_disease' result.Disease_id %}"> <button type="button" class="btn btn-danger"> Delete </button> </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'add_disease' %}"><button type="button" class="btn btn-success">ADD DISEASE</button></a>
        </div>
    </body>
</html>